name: Update JAPI Tracker reports
on:
  schedule:
    - cron:  '0 0 * * 0'
  push:
    branches:    
      - master
jobs:
  build:
    runs-on: ubuntu-latest
    env:
      BUILD_DIR: public
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Set up JDK
        uses: joschi/setup-jdk@fdc8726d3eaee700a67647704c396f71fe773eed # v2.5.1
        with:
          java-version: 11
      - uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4
        with:
          path: db
          key: ${{ runner.os }}-db
          restore-keys: |
            ${{ runner.os }}-db
      - uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4
        with:
          path: installed
          key: ${{ runner.os }}-installed
          restore-keys: |
            ${{ runner.os }}-installed
      - uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4
        with:
          path: src
          key: ${{ runner.os }}-src
          restore-keys: |
            ${{ runner.os }}-src
      - uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4
        with:
          path: api_dump
          key: ${{ runner.os }}-api_dump
          restore-keys: |
            ${{ runner.os }}-api_dump
      - uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4
        with:
          path: archives_report
          key: ${{ runner.os }}-archives_report
          restore-keys: |
            ${{ runner.os }}-archives_report
      - uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4
        with:
          path: compat_report
          key: ${{ runner.os }}-compat_report
          restore-keys: |
            ${{ runner.os }}-compat_report
      - uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4
        with:
          path: package_diff
          key: ${{ runner.os }}-package_diff
          restore-keys: |
            ${{ runner.os }}-package_diff
      - uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4
        with:
          path: timeline
          key: ${{ runner.os }}-timeline
          restore-keys: |
            ${{ runner.os }}-timeline
      - name: Install dependencies
        run: sudo bin/install.sh
      - name: Update profiles
        run: bin/update-profiles.sh
      - name: Commit updated profiles
        uses: github-actions-x/commit@722d56b8968bf00ced78407bbe2ead81062d8baa # v2.9
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          push-branch: 'master'
          commit-message: 'Update profiles'
          files: 'profiles/*.json'
      - name: Update reports
        run: bin/update-reports.sh
      - name: Deploy
        if: success()
        uses: crazy-max/ghaction-github-pages@df5cc2bfa78282ded844b354faee141f06b41865 # v4.2.0
        with:
          target_branch: gh-pages
          build_dir: ${{ env.BUILD_DIR }}
        env:
          GITHUB_TOKEN: ${{ secrets.GH_PAGES_TOKEN }}
